#main {
  height: 100vh;
}

#filter-div {
  padding: 20px 40px;
  height: 100%;
}

#visualization-div {
  height: 100%;
  padding: 0 20px;
}

#loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.855);
  z-index: 10;
}