<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Charts, Charts, Charts</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    <h1>Clinical Dashboard</h1>
    <div style="width: 400px">
        <canvas id="myChart" width="50" height="50"></canvas>
    </div>
    <div>
      {{b}}
    </div>
    <script>
        let l = ["Africa", "Asia", "Europe", "Latin America", "North America"]
        let myDoughnutChart = document.getElementById("myChart").getContext('2d');
        new Chart(myDoughnutChart, {
        type: 'doughnut',
        data: {
          labels: l,
          datasets: [
            {
              label: "Population (millions)",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data: [2478,5267,734,784,433]
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Predicted world population (millions) in 2050'
          }
        }
    });
    </script>
  </body>
</html>