{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Charts, Charts, Charts</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    {% block css %}{% endblock %}
  </head>
  <body>
    <div id="loading">
      <div>
        <h2>Applying filters</h2>
      </div>
    </div>
    <div id="main" class="d-flex w-100">
      <div id="filter-div" class="d-flex flex-column align-items-left justify-content-center w-25 border-right border-secondary">
        <div class="d-flex w-100 justify-content-around">
          <div>
            <a class="btn btn-sm btn-danger mb-4 p-2" href="/">Logout</a>
          </div>
          <div>
            <button class="btn btn-sm btn-success mb-4 p-2" id="download-csv">Download CSV</button>
          </div>
          <div>
            <button class="btn btn-sm btn-warning mb-4 p-2" id="clear-filters">Clear filters</button>
          </div>
        </div>
        {% csrf_token %}
        {% for key, value in access_levels.items %}
        <p class="font-weight-bold mb-0 mt-4">Facility {{key}}</p>
        <select name="{{key}}-filter" id="{{key}}-filter" class="custom-select custom-select-sm">
          {% for val in value %}
          <option value="{{val.id}}">{{val.string}}</option>
          {% endfor %}
        </select>
        {% endfor %}
      </div>
      <div id="visualization-div" class="w-75 h-100">{% block content %}{% endblock content %}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script>
      $("#clear-filters").on("click", () => {
        location.reload();
      })
      $("#download-csv").on("click", () => {

        $("#loading").text("Processing...");
        $("#loading").css("display", "flex");

        let data = {
          level: i,
          value: "",
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          get_csv: true,
        };
        
        $.ajax({
          url: "/filter-access-levels/",
          method: "POST",
          data: data,
          success(res) {
            var blob=new Blob([res]);
            var link=document.createElement('a');
            link.href=window.URL.createObjectURL(blob);
            link.download="clinical_data.csv";
            link.click();
            $("#loading").css("display", "none");
            $("#loading").text("Applying filters...");
          },
          error(e) {
            console.error(e);
            $("#loading").css("display", "none");
            $("#loading").text("Applying filters...");
          }
        })
      })
    </script>
    {% block script %}{% endblock script %}
  </body>
</html>
