{% extends 'base.html' %} {% load static %} {% block content %}
<div class="d-flex flex-column w-100 h-100">
  <!-- dough nut chart -->
  <div id="doughnut-chart-div" class="w-50 mx-auto">
    <canvas id="doughnut-chart"></canvas>
  </div>

  <hr class="w-100 bg-secondary">

  <div class="d-flex w-100 mt-5">
    <!-- bar graph -->
    <div class="w-50">
      <div class="w-75">
        <canvas id="bar-graph"></canvas>
      </div>
    </div>

    <!-- statistical count -->
    <div class="w-50"></div>
  </div>

  <hr class="w-100 bg-secondary">

  <!-- horizontal bar graph -->
  <div class="h-25">
    <canvas id="horizontal-bar-graph"></canvas>
  </div>
</div>
{% endblock content %} {% static 'home.css' %} {% block css %} {% endblock %} {% block script %}
<script>

  let doughnutChartLabels = [{% for key, value in educationLevel.items %}"{{key}}", {% endfor %}];
  let doughnutchartData = [{% for key, value in educationLevel.items %}"{{value}}", {% endfor %}];

  let bargraphLabels = [{% for key, value in gradDict.items %}"{{key}}".replace("&gt;", ">").replace("&lt;", "<"), {% endfor %}];
  let bargraphData = [{% for key, value in gradDict.items %}"{{value}}", {% endfor %}];

  let horizontalBarGraphLables = [{% for key, value in professionDict.items %}"{{key}}", {% endfor %}];
  let horizontalBarGraphData = [{% for key, value in professionDict.items %}"{{value}}", {% endfor %}];

  let DoughnutChart = document.getElementById("doughnut-chart").getContext("2d");
  let BarGraph = document.getElementById("bar-graph").getContext("2d");
  let HorizontalBarGraph = document.getElementById("horizontal-bar-graph").getContext("2d");

  var doughnutchartObj = new Chart(DoughnutChart, {
    type: "doughnut",
    data: {
      labels: doughnutChartLabels,
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#000", "#8e5ea2", "#3cba9f", "#e8c3b9"],
          data: doughnutchartData,
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: "Bachelors Degree Distribution",
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var dataset = data.datasets[tooltipItem.datasetIndex];
            var meta = dataset._meta[Object.keys(dataset._meta)[0]];
            var total = meta.total;
            var currentValue = dataset.data[tooltipItem.index];
            var percentage = parseFloat((currentValue/total*100).toFixed(1));
            return currentValue + ' (' + percentage + '%)';
          },
          title: function(tooltipItem, data) {
            return data.labels[tooltipItem[0].index];
          }
        }
      },
    },
  });

  var bargraphObj = new Chart(BarGraph, {
    type: "bar",
    data: {
      labels: bargraphLabels,
      datasets: [{
         backgroundColor: [
          "#3B0000",
          "#FF0000",
          "#FF95C5",
          "#6F69AC",
          "#FFB319",
        ],
        label: "Anticipated graduation year",
        data: bargraphData,
        borderWidth: 1
      }]
    },
    options: {
    	scales: {
        	yAxes: [{
            	ticks: {
                	beginAtZero: true
            	}
        	}],
          xAxes: [{
            barPercentage: 0.6
          }]
    	}
    }
  })

  var horizontalbargraphObj = new Chart(HorizontalBarGraph, {
    type: "horizontalBar",
    data: {
      labels: horizontalBarGraphLables,
      datasets: [{
        borderWidth: 1,
        label: "Degree Distribution",
        data: horizontalBarGraphData,
         backgroundColor: [
          "#3B0000",
          "#FF0000",
          "#FF95C5",
          "#6F69AC",
          "#FFB319",
        ],
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
    	scales: {
        xAxes: [{
            ticks: {
                beginAtZero: true
            }
        }],
        yAxes: [{
          barPercentage: 0.8
        }]
    	}
    }
  })

  for (let i = 1; i < 10; i++) {
    $(`#${i}-filter`).on("change", () => {
      $("#loading").css("display", "flex");

      let lvlArray = [];
      for(let j = 0; j < 10; j++) {

        let lvlObj = {
          curr_level: j,
          curr_level_id: $(`#${j}-filter`).val(),
        };

        lvlArray.push(lvlObj);
      }
      
      let csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

      let data = {
        lvl_array: JSON.stringify(lvlArray),
        clicked_level: i,
        clicked_level_value: $(`#${i}-filter`).val(),
        prev_level: i - 1 != 0 ? i - 1 : 1,
        prev_level_value: i - 1 != 0 ? $(`#${i-1}-filter`).val() : $(`#${1}-filter`).val(),
        csrfmiddlewaretoken: csrfmiddlewaretoken
      }

      $.ajax({
        url: "/filter-access-levels/",
        method: "POST",
        data: data,

        success(response) {

          let currLevel = response.currLevel;

          let gradDict = response.gradDict;
          let professionDict = response.professionDict;
          let educationLevel = response.educationLevel;
          let dynamicFilteredLevels = response.dynamicFilteredLevels;

          
          for(item in dynamicFilteredLevels) {

            // if(dynamicFilteredLevels[item].length === 1 && dynamicFilteredLevels[item][0].value === null) {
            //   $(`#${item}-filter`).remove();
            //   $(`#${item}-filter-heading`).remove();
            // } else {
              
              $(`#${item}-filter`).empty();
              let option = `<option value="all">(All)</option>`;
              $(`#${item}-filter`).append(option);

              dynamicFilteredLevels[item].map((obj, index) => {
                if(obj.value !== null) {
                  let option = `<option value="${obj.id}">${obj.value}</option>`;
                  $(`#${item}-filter`).append(option);
                }
              })
            // }

          }

          let n_doughnutChartData = [];
          let n_bargraphData = [];
          let n_horizontalBarGraphData = [];

          for(item in professionDict) {
            n_horizontalBarGraphData.push(professionDict[item]);
          }
          for(item in gradDict) {
            n_bargraphData.push(gradDict[item]);
          }
          for (item in educationLevel) {
            n_doughnutChartData.push(response.educationLevel[item]);
          }

          doughnutchartObj.data.datasets[0].data = n_doughnutChartData;
          bargraphObj.data.datasets[0].data = n_bargraphData;
          horizontalbargraphObj.data.datasets[0].data = n_horizontalBarGraphData;

          doughnutchartObj.update();
          bargraphObj.update();
          horizontalbargraphObj.update();

          if(currLevel) {
            for(let k = currLevel + 1; k < 10; k++) {
              $(`#${k}-filter`).val("all");
            }
          }
          $("#loading").css("display", "none");
        },

        error(e) {
          $("#loading").css("display", "none");
        },
      });
    });
  }
</script>
{% endblock script %}
